


           .video-container{
           
            margin:0;
            padding:0;
            height: 40vh;
            
           }

            .mainbody h2,p,h5{
              padding-top: 1rem;
            }
            h5{
              color: rgb(30, 83, 54);
            }
            .mainbody img{
              padding-top: 1rem;
              margin-left: 45rem;
            }
            .icon{
             margin-left:40rem ;
             padding:1rem;
            }
            .icon i{
              padding-right:1rem;
            }
            .row h4{
              color:rgb(30, 83, 54);
              text-align: center;
            }
            
            #particles-js{
              
              height: 100%;
              background:black;
              z-index:1 ;
            }
            .logo img{

              z-index: 2;
             
            }

