

<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet"href="style.css">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="frontvideo.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    
</head>
<body>
 
  

  
    
  
     

 <div id="particles-js" >
  <nav class="navbar fixed-top navbar-sticky-top navbar-expand-lg navbar-light ">
    <button class="navbar-toggler text-success" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">   
        <i class="fa fa-navicon text-success" style=" font-size:28px;"></i>
    </span>
    </button>
    <div class="collapse navbar-collapse text-success" id="navbarSupportedContent">
    <ul class="nav  ml-auto text-success">
      <li class="nav-item dropdown text-success">
        <a class="nav-link text-success dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Home
        </a>
        <div class="dropdown-menu text-success" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item text-success" href="#AboutUs">About us</a>        
          <a class="dropdown-item text-success" href="#Projects">Projects</a>
          <a class="dropdown-item text-success" href="#ContactUs">Contact us</a>
      </li>
        <li class="nav-item text-success">
          <a class="nav-link text-success " href="#">Blog</a>
        </li>
        
        <li class="nav-item dropdown text-success">
          <a class="nav-link text-success dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Resources
          </a>
          <div class="dropdown-menu text-success" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item text-success" href="#">GENERAL</a>        
            <a class="dropdown-item text-success" href="#">CP</a>
            <a class="dropdown-item text-success" href="#">DEV</a>
            <a class="dropdown-item text-success" href="#">ML</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#">PSoC</a>
          </li>
    </ul>
    </div>
  </nav>
 </div>
  
  <div class="text-center logo">
    <img src="output-onlinepngtools.png">
 
   <script type="text/javascript" src="particles.js"></script>
   <script type="text/javascript" src="frontvideo.js"></script>
   
</div>


 
          </div>



  
  <div class="mainbody"id="AboutUs">
    <h2 class="font-weight-Normal text-center">  
      About Us
    </h2>
  </div>
    <img  class="rounded mx-auto d-block"src="programmer.png" alt=""width="70"height="90">
  
   
<h5 class="font-weight-bold  text-success text-center">Programming club UIET</h5>
  <div class="icon">
<a href="https://github.com/pclubuiet"><i class="fa fa-github-square text-success fa-2x text-center "></i></a>
<a href="https://www.facebook.com/pclubuiet/"><i class="fa fa-facebook-square fa-2x text-success text-center"></i></a>
<a href="https://twitter.com/pclubuiet"><i class="fa fa-twitter-square fa-2x text-success text-center"></i></a>
<a href="https://www.instagram.com/pclubuiet/"><i class="fab fa-instagram-square fa-2x text-success text-center"></i></a>
<a href="mailto:pclubuiet@gmail.com"><i class="fa fa-envelope-square fa-2x text-success text-center" ></i></a>
<a href="https://www.youtube.com/channel/UCX57TDjAW9ssGEdTG_u4Fyg"><i class="fa fa-youtube-play  fa-2x text-success text-center"></i></a>


  </div>






<div class="container">

    <p class="font-weight-light text-center mb-7 ">

      

In this age of increasing automation, programming is not limited to only computer science and related fields. Every competent engineer needs to know how to program. This makes Programming Club one of the most important clubs in the institute.

Programming Club (or better known as pclub) understands this responsibility and plays a crucial part in maintaining the coding culture in the institute. Introductory workshops are held for freshers to introduce them to the various facets of programming. Regular competitions are held for the general student body to test and sharpen their programming skills. Pclubs also has an essential role in the successful conduction of SFD, the institute’s techno-management festival. hacktoberfest event organised by Pclub  attracts the maximum participation in the fest.

Although the club has been functioning quite well as compared to other clubs, still, a lot of things needs to be done. Some great initiatives were taken by the current secretaries, including the formation of smaller groups focussed on specific areas (competitive programming group, development group and machine learning group) and the fresher’s mentorship program. Still there are lot of things that the club can improve upon. We hope that we are able to take this momentum forward.

    </p>
</div>
<div id="Projects">
<h2 class="font-weight-Normal text-center mt-7 mb-5">Projects</h2>
<div class="main">
 
  <ul class="cards">
    <li class="cards_item">
      <div class="cardss">
      
        <div class="card_content">
          <h2 class="card_title text-center text-success">hacktoberfest</h2>
          <p class="card_text text-center font-weight-light">Demo of pixel perfect pure CSS simple responsive card grid layout Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta voluptatem sint facilis, repellendus distinctio quia accusamus quae, veniam aliquid reprehenderit optio necessitatibus molestiae, facere et ut hic. Distinctio, est ea.</p>
          <div class="text-center mt-4">
            <a href="https://github.com/pclubuiet/Hacktoberfest-2k19" class="btn btn-success  "> &lt;/&gt; Source code</a>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="cardss">
       
        <div class="card_content">
          <h2 class="card_title text-center text-success">Software freedom Day</h2>
          <p class="card_text text-center font-weight-light">Demo of pixel perfect pure CSS simple responsive card grid layout Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, quibusdam vitae eum ipsum laboriosam culpa accusantium sequi voluptatum provident. Eum inventore magnam quibusdam numquam et amet nobis nemo neque alias.</p>
          <div class="text-center mt-4">
            <a href="https://github.com/pclubuiet/sfd19-slides" class="btn btn-success  ">&lt;/&gt; Source code</a>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="cardss">
  
        <div class="card_content">
          <h2 class="card_title text-center text-success">PSoC</h2>
          <p class="card_text text-center font-weight-light">Demo of pixel perfect pure CSS simple responsive card grid layout Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium alias dolorum quidem inventore totam rerum aperiam sunt cum, illum, cupiditate quasi? Sit dolorum omnis laborum suscipit, perferendis repellat nemo in.</p>
          <div class="text-center mt-4">
            <a href="https://github.com/pclubuiet" class="btn btn-success  ">&lt;/&gt; Source code</a>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="cardss">
   
        <div class="card_content">
          <h2 class="card_title text-center text-success">Covid-19 Detector</h2>
          <p class="card_text text-center font-weight-light">Demo of pixel perfect pure CSS simple responsive card grid layout Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, architecto! Ipsa vitae amet quae distinctio, magni nostrum provident temporibus at sit cupiditate tempore voluptate, dolorem iusto maxime numquam eaque explicabo.</p>
          <div class="text-center mt-4">
            <a href="https://github.com/pclubuiet/COVID-19-Detector-PSoC2020" class="btn btn-success  ">&lt;/&gt; Source code</a>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="cardss">

        <div class="card_content">
          <h2 class="card_title text-center text-success">Androiders Buddy</h2>
          <p class="card_text text-center font-weight-light">Demo of pixel perfect pure CSS simple responsive card grid layout Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia hic dolorem repellat beatae sequi sit velit assumenda, illo molestiae amet sint, eos tempora, explicabo delectus? Qui corporis quis facere voluptatum!</p>
          <div class="text-center mt-4">
            <a href="https://github.com/pclubuiet/Androiders-Buddy-PSoC2020" class="btn btn-success  ">&lt;/&gt; Source code</a>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="cardss">

        <div class="card_content">
          <h2 class="card_title text-center text-success">Pocket News</h2>
          <p class="card_text text-center font-weight-light">Demo of pixel perfect pure CSS simple responsive card grid layout Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, sequi dolorum expedita repellat voluptatibus unde architecto corporis, eos natus sed ipsam fugit eum quidem illo dolorem deserunt facilis? Mollitia, molestias?</p>
          <div class="text-center mt-4">
            <a href="https://github.com/pclubuiet/Pocket-news-PSoC2020" class="btn btn-success  ">&lt;/&gt; Source code</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>


  
<div id="ContactUs">

<h2 class="font-weight-Normal text-center mt-5 mb-4">Contact us</h2>

  <div class="row ml-3 mr-3 mb-3">
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <div class="box">
       
        <div class="card-body">
          <h5 class="card-title text-success text-center">Ashwani Rathee</h5>
          <h6 class="card-subtitle mt-3 mb-3 text-success text-center">Core Team Member</h6>
          <div class="text-center mb-4">
            <i class="fa fa-envelope-square text-success  fa-2x "aria-hidden="true"></i>
            </div>
        </div>
       
      </div>
      </div>
  
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <div class="box">
        <div class="card-body">
          <h5 class="card-title text-success text-center">Gurnameh Singh</h5>
          <h6 class="card-subtitle mt-3 mb-3 text-success text-center">Core Team Member</h6>
        
          <div class="text-center mb-4">
            <i class="fa fa-envelope-square text-success  fa-2x "aria-hidden="true"></i>
            </div>
        </div>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <div class="box">
        <div class="card-body">
          <h5 class="card-title text-success text-center">Kshitij Saluja</h5>
          <h6 class="card-subtitle text-success mt-3 mb-3  text-center">Core Team Member</h6>
          <div class="text-center mb-4">
            <i class="fa fa-envelope-square  text-success fa-2x "aria-hidden="true"></i>
            </div>
      </div>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <div class="box">
        <div class="card-body">
          <h5 class="card-title text-success text-center">Archit Uniyal</h5>
          <h6 class="card-subtitle mt-3 mb-3 text-success text-center">Core Team Member</h6>
       
          <div class="text-center mb-4">
            <i class="fa fa-envelope-square text-success fa-2x "aria-hidden="true"></i>
            </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <div class="box">
        <div class="card-body">
          <h5 class="card-title text-success text-center">Anshul Arora</h5>
          <h6 class="card-subtitle mt-3 mb-3 text-success text-center">Core Team Member</h6>
          <div class="text-center mb-4">
            <i class="fa fa-envelope-square text-success  fa-2x "aria-hidden="true"></i>
            </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <div class="box">
        <div class="card-body">
          <h5 class="card-title text-success text-center">Tarun Jain</h5>
          <h6 class="card-subtitle mt-3 mb-3 text-success text-center">Core Team Member</h6>
          <div class="text-center mb-4">
            <i class="fa fa-envelope-square text-success  fa-2x "aria-hidden="true"></i>
            </div>
        </div>
      </div>
    </div>
    
</div>
</div>




   




 

  <footer class=" text-center text-white"style="background-color:black;">
    <img src="logo-white-black-bg-removebg-preview_1.png" alt=""height="100"width="220">

  

   
    <div class="text-center  bg-success p-3" >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Pclubuiet.com</a>
    </div>

  </footer>

  

</body>
</html>